.landing-section {
    position: relative;
    height: 800px;
    width: auto;
    background-color: #f3f3f3;
    background: url('../images/bg-image.jpg') center 30% no-repeat;
    background-size: cover;
    overflow:hidden;
}
.center-content {
    display: block;
    text-align: -webkit-center;
}
.maskup-footer {
    background-color: rgba(0, 0, 0, 1);
    padding: 20px, 16px;
}